
#art-main
{
   background: #3A383E url('images/page.jpeg') center center repeat-x fixed;
   margin:0 auto;
   font-size: 14px;
   font-family: Cabin, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
   line-height: 150%;
   position: relative;
   width: 100%;
   min-height: 100%;
   left: 0;
   top: 0;
   cursor:default;
   overflow:hidden;
}
table, ul.art-hmenu
{
   font-size: 14px;
   font-family: Cabin, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
   line-height: 150%;
}

h1, h2, h3, h4, h5, h6, p, a, ul, ol, li
{
   margin: 0;
   padding: 0;
}

/* Reset buttons border. It's important for input and button tags. 
 * border-collapse should be separate for shadow in IE. 
 */
.art-button
{
   border: 0;
   border-collapse: separate;
   -webkit-background-origin: border !important;
   -moz-background-origin: border !important;
   background-origin: border-box !important;
   background: #674304;
   -webkit-border-radius:3px;
   -moz-border-radius:3px;
   border-radius:3px;
   padding:0 21px;
   margin:0 auto;
   height:26px;
}

.art-postcontent,
.art-postheadericons,
.art-postfootericons,
.art-blockcontent,
ul.art-vmenu a 
{
   text-align: left;
}

.art-postcontent,
.art-postcontent li,
.art-postcontent table,
.art-postcontent a,
.art-postcontent a:link,
.art-postcontent a:visited,
.art-postcontent a.visited,
.art-postcontent a:hover,
.art-postcontent a.hovered
{
   font-family: Cabin, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.art-postcontent p
{
   margin: 12px 0;
}

.art-postcontent h1, .art-postcontent h1 a, .art-postcontent h1 a:link, .art-postcontent h1 a:visited, .art-postcontent h1 a:hover,
.art-postcontent h2, .art-postcontent h2 a, .art-postcontent h2 a:link, .art-postcontent h2 a:visited, .art-postcontent h2 a:hover,
.art-postcontent h3, .art-postcontent h3 a, .art-postcontent h3 a:link, .art-postcontent h3 a:visited, .art-postcontent h3 a:hover,
.art-postcontent h4, .art-postcontent h4 a, .art-postcontent h4 a:link, .art-postcontent h4 a:visited, .art-postcontent h4 a:hover,
.art-postcontent h5, .art-postcontent h5 a, .art-postcontent h5 a:link, .art-postcontent h5 a:visited, .art-postcontent h5 a:hover,
.art-postcontent h6, .art-postcontent h6 a, .art-postcontent h6 a:link, .art-postcontent h6 a:visited, .art-postcontent h6 a:hover,
.art-blockheader .t, .art-blockheader .t a, .art-blockheader .t a:link, .art-blockheader .t a:visited, .art-blockheader .t a:hover,
.art-vmenublockheader .t, .art-vmenublockheader .t a, .art-vmenublockheader .t a:link, .art-vmenublockheader .t a:visited, .art-vmenublockheader .t a:hover,
.art-headline, .art-headline a, .art-headline a:link, .art-headline a:visited, .art-headline a:hover,
.art-slogan, .art-slogan a, .art-slogan a:link, .art-slogan a:visited, .art-slogan a:hover,
.art-postheader, .art-postheader a, .art-postheader a:link, .art-postheader a:visited, .art-postheader a:hover
{
   font-size: 30px;
   font-family: Lobster, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
   line-height: 120%;
}

.art-postcontent a, .art-postcontent a:link
{
   font-family: Cabin, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   text-decoration: none;
   color: #F09C0A;
}

.art-postcontent a:visited, .art-postcontent a.visited
{
   font-family: Cabin, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   text-decoration: none;
   color: #9B9D9B;
}

.art-postcontent  a:hover, .art-postcontent a.hover
{
   font-family: Cabin, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   text-decoration: underline;
   color: #F7B440;
}

.art-postcontent h1
{
   color: #7B7783;
   margin: 10px 0 0;
   font-size: 30px;
   font-family: Lobster, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.art-blockcontent h1
{
   margin: 10px 0 0;
   font-size: 30px;
   font-family: Lobster, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.art-postcontent h1 a, .art-postcontent h1 a:link, .art-postcontent h1 a:hover, .art-postcontent h1 a:visited, .art-blockcontent h1 a, .art-blockcontent h1 a:link, .art-blockcontent h1 a:hover, .art-blockcontent h1 a:visited 
{
   font-size: 30px;
   font-family: Lobster, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.art-postcontent h2
{
   color: #9A97A1;
   margin: 10px 0 0;
   font-size: 28px;
   font-family: Lobster, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.art-blockcontent h2
{
   margin: 10px 0 0;
   font-size: 28px;
   font-family: Lobster, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.art-postcontent h2 a, .art-postcontent h2 a:link, .art-postcontent h2 a:hover, .art-postcontent h2 a:visited, .art-blockcontent h2 a, .art-blockcontent h2 a:link, .art-blockcontent h2 a:hover, .art-blockcontent h2 a:visited 
{
   font-size: 28px;
   font-family: Lobster, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.art-postcontent h3
{
   color: #F7B440;
   margin: 10px 0 0;
   font-size: 26px;
   font-family: Lobster, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.art-blockcontent h3
{
   margin: 10px 0 0;
   font-size: 26px;
   font-family: Lobster, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.art-postcontent h3 a, .art-postcontent h3 a:link, .art-postcontent h3 a:hover, .art-postcontent h3 a:visited, .art-blockcontent h3 a, .art-blockcontent h3 a:link, .art-blockcontent h3 a:hover, .art-blockcontent h3 a:visited 
{
   font-size: 26px;
   font-family: Lobster, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.art-postcontent h4
{
   color: #686A68;
   margin: 10px 0 0;
   font-size: 24px;
   font-family: Lobster, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.art-blockcontent h4
{
   margin: 10px 0 0;
   font-size: 24px;
   font-family: Lobster, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.art-postcontent h4 a, .art-postcontent h4 a:link, .art-postcontent h4 a:hover, .art-postcontent h4 a:visited, .art-blockcontent h4 a, .art-blockcontent h4 a:link, .art-blockcontent h4 a:hover, .art-blockcontent h4 a:visited 
{
   font-size: 24px;
   font-family: Lobster, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.art-postcontent h5
{
   color: #686A68;
   margin: 10px 0 0;
   font-size: 20px;
   font-family: Lobster, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.art-blockcontent h5
{
   margin: 10px 0 0;
   font-size: 20px;
   font-family: Lobster, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.art-postcontent h5 a, .art-postcontent h5 a:link, .art-postcontent h5 a:hover, .art-postcontent h5 a:visited, .art-blockcontent h5 a, .art-blockcontent h5 a:link, .art-blockcontent h5 a:hover, .art-blockcontent h5 a:visited 
{
   font-size: 20px;
   font-family: Lobster, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.art-postcontent h6
{
   color: #B4B6B4;
   margin: 10px 0 0;
   font-size: 16px;
   font-family: Lobster, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.art-blockcontent h6
{
   margin: 10px 0 0;
   font-size: 16px;
   font-family: Lobster, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.art-postcontent h6 a, .art-postcontent h6 a:link, .art-postcontent h6 a:hover, .art-postcontent h6 a:visited, .art-blockcontent h6 a, .art-blockcontent h6 a:link, .art-blockcontent h6 a:hover, .art-blockcontent h6 a:visited 
{
   font-size: 16px;
   font-family: Lobster, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

header, footer, article, nav, #art-hmenu-bg, .art-sheet, .art-hmenu a, .art-vmenu a, .art-slidenavigator > a, .art-checkbox:before, .art-radiobutton:before
{
   -webkit-background-origin: border !important;
   -moz-background-origin: border !important;
   background-origin: border-box !important;
}

header, footer, article, nav, #art-hmenu-bg, .art-sheet, .art-slidenavigator > a, .art-checkbox:before, .art-radiobutton:before
{
   display: block;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}

ul
{
   list-style-type: none;
}

ol
{
   list-style-position: inside;
}

html, body
{
   height: 100%;
}

body
{
   padding: 0;
   margin:0;
   min-width: 1000px;
   color: #3D3E3D;
}

.clearfix:before, .clearfix:after {
   content: "";
   display: table;
}

.clearfix:after {
   clear: both;
}

.cleared {
   font: 0/0 serif;
   clear: both;
}

form
{
   padding: 0 !important;
   margin: 0 !important;
}

table.position
{
   position: relative;
   width: 100%;
   table-layout: fixed;
}

li h1, .art-postcontent li h1, .art-blockcontent li h1 
{
   margin:1px;
} 
li h2, .art-postcontent li h2, .art-blockcontent li h2 
{
   margin:1px;
} 
li h3, .art-postcontent li h3, .art-blockcontent li h3 
{
   margin:1px;
} 
li h4, .art-postcontent li h4, .art-blockcontent li h4 
{
   margin:1px;
} 
li h5, .art-postcontent li h5, .art-blockcontent li h5 
{
   margin:1px;
} 
li h6, .art-postcontent li h6, .art-blockcontent li h6 
{
   margin:1px;
} 
li p, .art-postcontent li p, .art-blockcontent li p 
{
   margin:1px;
}


.art-shapes
{
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   overflow: hidden;
   z-index: 0;
}

.art-slider-inner {
   position: relative;
   overflow: hidden;
   width: 100%;
   height: 100%;
}

.art-slidenavigator > a {
   display: inline-block;
   vertical-align: middle;
   outline-style: none;
   font-size: 1px;
}

.art-slidenavigator > a:last-child {
   margin-right: 0 !important;
}

.art-object793707020
{
    display: block;
    left: 0%;
    margin-left: -29px;
    position: absolute;
    top: -3px;
    width: 133px;
    height: 100px;
    background-image: url('images/object793707020.png');
    background-position: 0 0;
    background-repeat: no-repeat;
    z-index: 0;
}
.art-headline
{
  display: inline-block;
  position: absolute;
  min-width: 50px;
  top: 13px;
  left: 9.73%;
  line-height: 100%;
  margin-left: -14px !important;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  z-index: 99;
}

.art-headline, 
.art-headline a, 
.art-headline a:link, 
.art-headline a:visited, 
.art-headline a:hover
{
font-size: 48px;
font-family: Lobster, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
font-weight: normal;
font-style: normal;
text-decoration: none;
text-shadow: 0px 0px 12px rgba(23, 23, 23, 0.98);
  padding: 0;
  margin: 0;
  color: #FFFFFF !important;
  white-space: nowrap;
}
.art-slogan
{
  display: inline-block;
  position: absolute;
  min-width: 50px;
  top: 57px;
  left: 20.44%;
  line-height: 100%;
  margin-left: -18px !important;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  z-index: 99;
  white-space: nowrap;
}

.art-slogan, 
.art-slogan a, 
.art-slogan a:link, 
.art-slogan a:visited, 
.art-slogan a:hover
{
font-size: 20px;
font-family: Lobster, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
text-decoration: none;
text-align: left;
  padding: 0;
  margin: 0;
  color: #F8BF5D !important;
}






.art-header
{
   margin:0 auto;
   position:relative;
   height: 100px;
   background-image: url('images/header.jpg');
   background-position: center top;
   background-repeat: no-repeat;
}

.responsive .art-header 
{
   background-image: url('images/header.jpg');
   background-position: center center;
}

.art-header-inner{
   position: relative;
   width: 1000px;
   z-index: auto !important;
   margin: 0 auto;
}

.art-header>.widget 
{
   position:absolute;
   z-index:101;
}

.art-sheet
{
   background: #FCFCFC;
   -webkit-border-radius:5px;
   -moz-border-radius:5px;
   border-radius:5px;
   -webkit-box-shadow:1px 1px 3px 2px rgba(0, 0, 0, 0.15);
   -moz-box-shadow:1px 1px 3px 2px rgba(0, 0, 0, 0.15);
   box-shadow:1px 1px 3px 2px rgba(0, 0, 0, 0.15);
   padding:10px;
   margin:10px auto 0;
   position:relative;
   cursor:auto;
   width: 1000px;
   z-index: auto !important;
}

.art-layout-wrapper
{
   position: relative;
   margin: 0 auto 0 auto;
   z-index: auto !important;
}

.art-content-layout
{
   display: table;
   width: 100%;
   table-layout: fixed;
   border-collapse: collapse;
}

.art-content-layout-row 
{
   display: table-row;
}

.art-layout-cell
{
   display: table-cell;
   vertical-align: top;
}

.art-breadcrumbs
{
   margin:0 auto;
}

a.art-button,
a.art-button:link,
a:link.art-button:link,
body a.art-button:link,
a.art-button:visited,
body a.art-button:visited,
input.art-button,
button.art-button
{
   text-decoration: none;
   font-size: 14px;
   font-family: Cabin, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
   position:relative;
   display: inline-block;
   vertical-align: middle;
   white-space: nowrap;
   text-align: center;
   color: #D3D1D6;
   margin: 0 !important;
   overflow: visible;
   cursor: pointer;
   text-indent: 0;
   line-height: 26px;
   -webkit-box-sizing: content-box;
   -moz-box-sizing: content-box;
   box-sizing: content-box;
}

.art-button img
{
   margin: 0;
   vertical-align: middle;
}

.firefox2 .art-button
{
   display: block;
   float: left;
}

input, select, textarea
{
   vertical-align: middle;
   font-size: 14px;
   font-family: Cabin, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
}

.art-block select 
{
   width:96%;
}

input.art-button
{
   float: none !important;
}

.art-button.active, .art-button.active:hover
{
   background: #76727E;
   -webkit-border-radius:3px;
   -moz-border-radius:3px;
   border-radius:3px;
   padding:0 21px;
   margin:0 auto;
}
.art-button.active, .art-button.active:hover {
   color: #DBDADD !important;
}

.art-button.hover, .art-button:hover
{
   background: #8A8792;
   -webkit-border-radius:3px;
   -moz-border-radius:3px;
   border-radius:3px;
   padding:0 21px;
   margin:0 auto;
}
.art-button.hover, .art-button:hover {
   color: #000000 !important;
}

input[type="text"], input[type="password"], input[type="email"], input[type="url"], textarea
{
   background: #FCFCFC;
   -webkit-border-radius:4px;
   -moz-border-radius:4px;
   border-radius:4px;
   border:1px solid #B4B6B4;
   margin:0 auto;
}
input[type="text"], input[type="password"], input[type="email"], input[type="url"], textarea
{
   width: 100%;
   padding: 4px 0;
   color: #141514 !important;
   font-size: 14px;
   font-family: Cabin, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
}
input.art-error, textarea.art-error
{
   background: #FCFCFC;
   border:1px solid #E2341D;
   margin:0 auto;
}
input.art-error, textarea.art-error {
   color: #141514 !important;
   font-size: 14px;
   font-family: Cabin, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
}
form.art-search input[type="text"]
{
   background: #FCFCFC;
   -webkit-border-radius:4px;
   -moz-border-radius:4px;
   border-radius:4px;
   border:1px solid #B4B6B4;
   margin:0 auto;
   width: 100%;
   padding: 3px 0;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   color: #141514 !important;
   font-size: 14px;
   font-family: Cabin, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
}
form.art-search 
{
   background-image: none;
   border: 0;
   display:block;
   position:relative;
   top:0;
   padding:0;
   margin:5px;
   left:0;
   line-height: 0;
}

form.art-search input
{
   top:0;
   right:0;
}

form.art-search>input {
   bottom:0;
   left:0;
   vertical-align: middle;
}
 
form.art-search input[type="submit"]
{
   margin:0 auto;
   color: #D3D1D6 !important;
   position:absolute;
   display:block;
   left: auto;
   border:none;
   background:url('images/searchicon.png') center center no-repeat;
   width:24px;
   height: 100%;
   padding:0;
}

label.art-checkbox:before
{
   background: #FCFCFC;
   -webkit-border-radius:1px;
   -moz-border-radius:1px;
   border-radius:1px;
   margin:0 auto;
   width:16px;
   height:16px;
}
label.art-checkbox
{
   cursor: pointer;
   font-size: 14px;
   font-family: Cabin, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
   line-height: 16px;
   display: inline-block;
}

.art-checkbox>input[type="checkbox"]
{
   margin: 0 5px 0 0;
}

label.art-checkbox.active:before
{
   background: #B4B6B4;
   -webkit-border-radius:1px;
   -moz-border-radius:1px;
   border-radius:1px;
   margin:0 auto;
   width:16px;
   height:16px;
   display: inline-block;
}

label.art-checkbox.hovered:before
{
   background: #BFC0BF;
   -webkit-border-radius:1px;
   -moz-border-radius:1px;
   border-radius:1px;
   margin:0 auto;
   width:16px;
   height:16px;
   display: inline-block;
}

label.art-radiobutton:before
{
   background: #FCFCFC;
   -webkit-border-radius:3px;
   -moz-border-radius:3px;
   border-radius:3px;
   margin:0 auto;
   width:12px;
   height:12px;
}
label.art-radiobutton
{
   cursor: pointer;
   font-size: 14px;
   font-family: Cabin, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
   line-height: 12px;
   display: inline-block;
}

.art-radiobutton>input[type="radio"]
{
   vertical-align: baseline;
   margin: 0 5px 0 0;
}

label.art-radiobutton.active:before
{
   background: #B4B6B4;
   -webkit-border-radius:3px;
   -moz-border-radius:3px;
   border-radius:3px;
   margin:0 auto;
   width:12px;
   height:12px;
   display: inline-block;
}

label.art-radiobutton.hovered:before
{
   background: #BFC0BF;
   -webkit-border-radius:3px;
   -moz-border-radius:3px;
   border-radius:3px;
   margin:0 auto;
   width:12px;
   height:12px;
   display: inline-block;
}

.art-vmenublock
{
   margin:3px;
}
div.art-vmenublock img
{
   margin: 0;
}

.art-vmenublockheader
{
   padding:10px 0;
   margin:0 auto;
}
.art-vmenublockheader .t,
.art-vmenublockheader .t a,
.art-vmenublockheader .t a:link,
.art-vmenublockheader .t a:visited, 
.art-vmenublockheader .t a:hover
{
   color: #000000;
   font-size: 26px;
   font-family: Lobster, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
   margin: 0 10px;
}

.art-vmenublockcontent
{
   margin:0 auto;
}

ul.art-vmenu, ul.art-vmenu ul
{
   list-style: none;
   display: block;
}

ul.art-vmenu, ul.art-vmenu li
{
   display: block;
   margin: 0;
   padding: 0;
   width: auto;
   line-height: 0;
}

ul.art-vmenu
{
   margin-top: 0;
   margin-bottom: 0;
}

ul.art-vmenu ul
{
   display: none;
   margin: 0;
   padding: 0;
   position: relative;
}

ul.art-vmenu ul.active
{
   display: block;
}

ul.art-vmenu>li>a
{
   padding:0 10px;
   margin:0 auto;
   color: #7C7E7C;
   min-height: 30px;
   line-height: 30px;
}
ul.art-vmenu a 
{
   display: block;
   cursor: pointer;
   z-index: 1;
   font-size: 18px;
   font-family: Cabin, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   position:relative;
}

ul.art-vmenu li{
   position:relative;
}

ul.art-vmenu>li
{
   margin-top: 0;
}
ul.art-vmenu>li>ul
{
   padding: 0;
   margin-top: 0;
   margin-bottom: 0;
}
ul.art-vmenu>li:first-child
{
   margin-top:0;
}

ul.art-vmenu>li>a:before
{
   content:url('images/vmenuitemicon.png');
   margin-right:5px;
   bottom: 2px;
   position:relative;
   display:inline-block;
   vertical-align:middle;
   font-size:0;
   line-height:0;
}
.opera ul.art-vmenu>li>a:before
{
   /* Vertical-align:middle in Opera doesn't need additional offset */
    bottom: 0;
}

ul.art-vmenu>li>a.active:before
{
   content:url('images/vmenuactiveitemicon.png');
   margin-right:5px;
   bottom: 2px;
   position:relative;
   display:inline-block;
   vertical-align:middle;
   font-size:0;
   line-height:0;
}
.opera ul.art-vmenu>li>a.active:before
{
   /* Vertical-align:middle in Opera doesn't need additional offset */
    bottom: 0;
}

ul.art-vmenu>li>a:hover:before
{
   content:url('images/vmenuhovereditemicon.png');
   margin-right:5px;
   bottom: 2px;
   position:relative;
   display:inline-block;
   vertical-align:middle;
   font-size:0;
   line-height:0;
}
.opera ul.art-vmenu>li>a:hover:before
{
   /* Vertical-align:middle in Opera doesn't need additional offset */
    bottom: 0;
}

ul.art-vmenu>li>a:hover, ul.art-vmenu>li>a.active:hover
{
   padding:0 10px;
   margin:0 auto;
}
ul.art-vmenu>li>a:hover, ul.art-vmenu>li>a.active:hover
{
   text-decoration: none;
}

ul.art-vmenu a:hover, ul.art-vmenu a.active:hover 
{
   color: #F09C0A;
}

ul.art-vmenu>li>a.active:hover>span.border-top, ul.art-vmenu>li>a.active:hover>span.border-bottom 
{
   background-color: transparent;
}

ul.art-vmenu>li>a.active
{
   padding:0 10px;
   margin:0 auto;
   text-decoration: none;
   color: #F09C0A;
}

ul.art-vmenu>li>ul:before
{
   margin:0 auto;
   display: block;
   position: absolute;
   content: ' ';
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
}

ul.art-vmenu li li a
{
   margin:0 auto;
   position: relative;
}
ul.art-vmenu ul li
{
   margin: 0;
   padding: 0;
}
ul.art-vmenu li li{
   position: relative;
   margin-top: 0;
}

ul.art-vmenu ul a
{
   display: block;
   position: relative;
   min-height: 24px;
   overflow: visible;
   padding: 0;
   padding-left: 24px;
   padding-right: 24px;
   z-index: 0;
   line-height: 24px;
   color: #7B7783;
   font-size: 16px;
   font-family: Cabin, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   margin-left: 0;
   margin-right: 0;
}

ul.art-vmenu ul a:visited, ul.art-vmenu ul a.active:hover, ul.art-vmenu ul a:hover, ul.art-vmenu ul a.active
{
   line-height: 24px;
   color: #7B7783;
   font-size: 16px;
   font-family: Cabin, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   margin-left: 0;
   margin-right: 0;
}

ul.art-vmenu ul ul a
{
   padding-left: 48px;
}
ul.art-vmenu ul ul ul a
{
   padding-left: 72px;
}
ul.art-vmenu ul ul ul ul a
{
   padding-left: 96px;
}
ul.art-vmenu ul ul ul ul ul a
{
   padding-left: 120px;
}

ul.art-vmenu li li a:before
{
   content:url('images/vmenusubitemicon.png');
   margin-right:10px;
   bottom: 2px;
   position:relative;
   display:inline-block;
   vertical-align:middle;
   font-size:0;
   line-height:0;
}
.opera ul.art-vmenu li li a:before
{
   /* Vertical-align:middle in Opera doesn't need additional offset */
    bottom: 0;
}

ul.art-vmenu ul>li>a:hover, ul.art-vmenu ul>li>a.active:hover
{
   background: #BFC0BF;
   margin:0 auto;
}
ul.art-vmenu ul li a:hover, ul.art-vmenu ul li a.active:hover
{
   text-decoration: none;
   color: #BA7908;
}

ul.art-vmenu ul a:hover:after
{
   background-position: center ;
}
ul.art-vmenu ul a.active:hover:after
{
   background-position: center ;
}
ul.art-vmenu ul a.active:after
{
   background-position: bottom ;
}

ul.art-vmenu li li a:hover:before
{
   content:url('images/vmenuhoveredsubitemicon.png');
   margin-right:10px;
   bottom: 2px;
   position:relative;
   display:inline-block;
   vertical-align:middle;
   font-size:0;
   line-height:0;
}
.opera ul.art-vmenu li li a:hover:before
{
   /* Vertical-align:middle in Opera doesn't need additional offset */
    bottom: 0;
}

ul.art-vmenu ul>li>a.active
{
   margin:0 auto;
}
ul.art-vmenu ul a.active, ul.art-vmenu ul a:hover, ul.art-vmenu ul a.active:hover
{
   text-decoration: none;
   color: #F09C0A;
}

ul.art-vmenu li li a.active:before
{
   content:url('images/vmenuactivesubitemicon.png');
   margin-right:10px;
   bottom: 2px;
   position:relative;
   display:inline-block;
   vertical-align:middle;
   font-size:0;
   line-height:0;
}
.opera ul.art-vmenu li li a.active:before
{
   /* Vertical-align:middle in Opera doesn't need additional offset */
    bottom: 0;
}

.art-block
{
   margin:3px;
}
div.art-block img
{
   border: none;
   margin: 0;
}

.art-blockheader
{
   padding:6px 5px;
   margin:0 auto 2px;
}
.art-blockheader .t,
.art-blockheader .t a,
.art-blockheader .t a:link,
.art-blockheader .t a:visited, 
.art-blockheader .t a:hover
{
   color: #000000;
   font-size: 26px;
   font-family: Lobster, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
   margin: 0 10px;
}

.art-blockcontent
{
   padding:5px;
   margin:0 auto;
   color: #141514;
   font-size: 14px;
   font-family: Cabin, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   line-height: 150%;
}
.art-blockcontent table,
.art-blockcontent li, 
.art-blockcontent a,
.art-blockcontent a:link,
.art-blockcontent a:visited,
.art-blockcontent a:hover
{
   color: #141514;
   font-size: 14px;
   font-family: Cabin, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   line-height: 150%;
}

.art-blockcontent p
{
   margin: 0 5px;
}

.art-blockcontent a, .art-blockcontent a:link
{
   color: #F7B440;
   font-family: Cabin, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: bold;
   font-style: normal;
   text-decoration: none;
}

.art-blockcontent a:visited, .art-blockcontent a.visited
{
   color: #9B9D9B;
   font-family: Cabin, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: bold;
   font-style: normal;
   text-decoration: none;
}

.art-blockcontent a:hover, .art-blockcontent a.hover
{
   color: #F7B440;
   font-family: Cabin, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: bold;
   font-style: normal;
   text-decoration: none;
}
.art-block ul>li:before
{
   content:url('images/blockbullets.png');
   margin-right:6px;
   bottom: 2px;
   position:relative;
   display:inline-block;
   vertical-align:middle;
   font-size:0;
   line-height:0;
   margin-left: -12px;
}
.opera .art-block ul>li:before
{
   /* Vertical-align:middle in Opera doesn't need additional offset */
    bottom: 0;
}

.art-block li
{
   font-size: 13px;
   font-family: Cabin, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   line-height: 150%;
   color: #686A68;
}

.art-block ul>li, .art-block ol
{
   padding: 0;
}

.art-block ul>li
{
   padding-left: 12px;
}

.art-post
{
   padding:5px;
}
a img
{
   border: 0;
}

.art-article img, img.art-article, .art-block img, .art-footer img
{
   margin: 7px 7px 7px 7px;
}

.art-metadata-icons img
{
   border: none;
   vertical-align: middle;
   margin: 2px;
}

.art-article table, table.art-article
{
   border-collapse: collapse;
   margin: 1px;
}

.art-post .art-content-layout-br
{
   height: 0;
}

.art-article th, .art-article td
{
   padding: 2px;
   border: solid 1px #818381;
   vertical-align: top;
   text-align: left;
}

.art-article th
{
   text-align: center;
   vertical-align: middle;
   padding: 7px;
}

pre
{
   overflow: auto;
   padding: 0.1em;
}

.preview-cms-logo
{
   border: 0;
   margin: 1em 1em 0 0;
   float: left;
}

.image-caption-wrapper
{
   padding: 7px 7px 7px 7px;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}

.image-caption-wrapper img
{
   margin: 0 !important;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}

.image-caption-wrapper div.art-collage
{
   margin: 0 !important;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}

.image-caption-wrapper p
{
   font-size: 80%;
   text-align: right;
   margin: 0;
}

.art-postheader
{
   color: #3C3A40;
   margin: 6px 0;
   font-size: 26px;
   font-family: Lobster, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
}

.art-postheader a, 
.art-postheader a:link, 
.art-postheader a:visited,
.art-postheader a.visited,
.art-postheader a:hover,
.art-postheader a.hovered
{
   font-size: 26px;
   font-family: Lobster, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
}

.art-postheader a, .art-postheader a:link
{
   font-family: Lobster, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   text-decoration: none;
   text-align: left;
   color: #F7B440;
}

.art-postheader a:visited, .art-postheader a.visited
{
   font-family: Lobster, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   text-decoration: none;
   color: #898B89;
}

.art-postheader a:hover,  .art-postheader a.hovered
{
   font-family: Lobster, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   text-decoration: none;
   color: #F7B440;
}

.art-postheadericons,
.art-postheadericons a,
.art-postheadericons a:link,
.art-postheadericons a:visited,
.art-postheadericons a:hover
{
   font-size: 12px;
   font-family: Cabin, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   color: #686A68;
}

.art-postheadericons
{
   display:inline-block;
   padding: 1px;
}

.art-postheadericons a, .art-postheadericons a:link
{
   font-family: Cabin, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: bold;
   font-style: normal;
   text-decoration: none;
   color: #A66C07;
}

.art-postheadericons a:visited, .art-postheadericons a.visited
{
   font-family: Cabin, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: bold;
   font-style: normal;
   text-decoration: none;
   color: #55525B;
}

.art-postheadericons a:hover, .art-postheadericons a.hover
{
   font-family: Cabin, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: bold;
   font-style: normal;
   text-decoration: none;
   color: #E19209;
}

.art-postdateicon:before
{
   content:url('images/postdateicon.png');
   margin-right:6px;
   bottom: 2px;
   position:relative;
   display:inline-block;
   vertical-align:middle;
   font-size:0;
   line-height:0;
}
.opera .art-postdateicon:before
{
   /* Vertical-align:middle in Opera doesn't need additional offset */
    bottom: 0;
}

.art-postauthoricon:before
{
   content:url('images/postauthoricon.png');
   margin-right:6px;
   bottom: 2px;
   position:relative;
   display:inline-block;
   vertical-align:middle;
   font-size:0;
   line-height:0;
}
.opera .art-postauthoricon:before
{
   /* Vertical-align:middle in Opera doesn't need additional offset */
    bottom: 0;
}

.art-postediticon:before
{
   content:url('images/postediticon.png');
   margin-right:6px;
   bottom: 2px;
   position:relative;
   display:inline-block;
   vertical-align:middle;
   font-size:0;
   line-height:0;
}
.opera .art-postediticon:before
{
   /* Vertical-align:middle in Opera doesn't need additional offset */
    bottom: 0;
}

.art-postcontent ul>li:before,  .art-post ul>li:before,  .art-textblock ul>li:before
{
   content:url('images/postbullets.png');
   margin-right:10px;
   bottom: 2px;
   position:relative;
   display:inline-block;
   vertical-align:middle;
   font-size:0;
   line-height:0;
}
.opera .art-postcontent ul>li:before, .opera   .art-post ul>li:before, .opera   .art-textblock ul>li:before
{
   /* Vertical-align:middle in Opera doesn't need additional offset */
    bottom: 0;
}

.art-postcontent li, .art-post li, .art-textblock li
{
   font-family: Cabin, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   color: #141315;
   margin: 5px 0 5px 13px;
}

.art-postcontent ul>li, .art-post ul>li, .art-textblock ul>li, .art-postcontent ol, .art-post ol, .art-textblock ol
{
   padding: 0;
}

.art-postcontent ul>li, .art-post ul>li, .art-textblock ul>li
{
   padding-left: 17px;
}

.art-postcontent ul>li:before,  .art-post ul>li:before,  .art-textblock ul>li:before
{
   margin-left: -17px;
}

.art-postcontent ol, .art-post ol, .art-textblock ol, .art-postcontent ul, .art-post ul, .art-textblock ul
{
   margin: 1em 0 1em 13px;
}

.art-postcontent li ol, .art-post li ol, .art-textblock li ol, .art-postcontent li ul, .art-post li ul, .art-textblock li ul
{
   margin: 0.5em 0 0.5em 13px;
}

.art-postcontent li, .art-post li, .art-textblock li
{
   margin: 5px 0 5px 0;
}

.art-postcontent ol>li, .art-post ol>li, .art-textblock ol>li
{
   /* overrides overflow for "ul li" and sets the default value */
  overflow: visible;
}

.art-postcontent ul>li, .art-post ul>li, .art-textblock ul>li
{
   /* makes "ul li" not to align behind the image if they are in the same line */
  overflow-x: visible;
   overflow-y: hidden;
}

blockquote
{
   background: #D8D9D8 url('images/postquote.png') no-repeat scroll;
   padding:10px 10px 10px 47px;
   margin:10px 0 0 25px;
   color: #0F0F0F;
   font-family: Cabin, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: italic;
   /* makes block not to align behind the image if they are in the same line */
  overflow: auto;
   clear:both;
}
blockquote a, .art-postcontent blockquote a, .art-blockcontent blockquote a, .art-footer blockquote a,
blockquote a:link, .art-postcontent blockquote a:link, .art-blockcontent blockquote a:link, .art-footer blockquote a:link,
blockquote a:visited, .art-postcontent blockquote a:visited, .art-blockcontent blockquote a:visited, .art-footer blockquote a:visited,
blockquote a:hover, .art-postcontent blockquote a:hover, .art-blockcontent blockquote a:hover, .art-footer blockquote a:hover
{
   color: #0F0F0F;
   font-family: Cabin, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: italic;
}

/* Override native 'p' margins*/
blockquote p,
.art-postcontent blockquote p,
.art-blockcontent blockquote p,
.art-footer blockquote p
{
   margin: 0;
}

.art-footer
{
   background: #28272B url('images/footer.png') scroll;
   margin:20px auto 0;
   position: relative;
   color: #A5A7A5;
   font-size: 13px;
   font-family: Cabin, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   text-align: center;
   padding: 0;
}

.art-footer a,
.art-footer a:link,
.art-footer a:visited,
.art-footer a:hover,
.art-footer td, 
.art-footer th,
.art-footer caption
{
   color: #A5A7A5;
   font-size: 13px;
   font-family: Cabin, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.art-footer p 
{
   padding:0;
   text-align: center;
}

.art-footer a,
.art-footer a:link
{
   color: #F6AE31;
   font-family: Cabin, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   text-decoration: none;
}

.art-footer a:visited
{
   color: #939593;
   font-family: Cabin, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   text-decoration: none;
}

.art-footer a:hover
{
   color: #F8BF5D;
   font-family: Cabin, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   text-decoration: none;
}

.art-footer img
{
   border: none;
   margin: 0;
}

.art-footer-inner
{
   margin: 0 auto;
   width:1000px;
   padding:25px;
   padding-right: 35px;
   padding-left: 35px;
}

.art-rss-tag-icon
{
   background:  url('images/footerrssicon.png') no-repeat scroll;
   margin:0 auto;
   min-height:25px;
   min-width:25px;
   display: inline-block;
   text-indent: 28px;
   background-position: left center;
}

.art-rss-tag-icon:empty
{
   vertical-align: middle;
}

.art-footer ul>li:before
{
   content:url('images/footerbullets.png');
   margin-right:6px;
   bottom: 2px;
   position:relative;
   display:inline-block;
   vertical-align:middle;
   font-size:0;
   line-height:0;
   margin-left: -13px;
}
.opera .art-footer ul>li:before
{
   /* Vertical-align:middle in Opera doesn't need additional offset */
    bottom: 0;
}

.art-footer li
{
   font-size: 14px;
   font-family: Cabin, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   line-height: 125%;
   color: #F0F0F0;
}

.art-footer ul>li, .art-footer ol
{
   padding: 0;
}

.art-footer ul>li
{
   padding-left: 13px;
}

.art-page-footer, 
.art-page-footer a,
.art-page-footer a:link,
.art-page-footer a:visited,
.art-page-footer a:hover
{
   font-family: Arial;
   font-size: 10px;
   letter-spacing: normal;
   word-spacing: normal;
   font-style: normal;
   font-weight: normal;
   text-decoration: underline;
   color: #D0CFD3;
}

.art-page-footer
{
   position: relative;
   z-index: auto !important;
   padding: 1em;
   text-align: center !important;
   text-decoration: none;
   color: #B9BBB9;
}

img.art-lightbox
{
   cursor: pointer;
}

#art-lightbox-bg *
{
   padding: 0;
   margin: 0;
}

div#art-lightbox-bg
{
   top: 0;
   left: 0;
   width: 100%;
   position: absolute;
   height: 100%;
   background-color: #000;
   opacity: 0.8;
   filter: alpha(opacity=80);
   z-index: 9999;
}

img.art-lightbox-image
{
   -webkit-transition: opacity 350ms ease-in-out;
   -moz-transition: opacity 350ms ease-in-out;
   -o-transition: opacity 350ms ease-in-out;
   -ms-transition: opacity 350ms ease-in-out;
   transition: opacity 350ms ease-in-out;
   cursor: pointer;
   z-index: 10000;
   position: fixed;
   border: 6px solid #fff;
   border-radius: 3px;
   opacity: 0;
   filter: alpha(opacity=0);
}

img.art-lightbox-image.active
{
   opacity: 1;
   filter: alpha(opacity=100);
}

.lightbox-error
{
   position: fixed;
   background: #fff;
   z-index: 100;
   opacity: 0.95;
   padding: 20px;
   border: 1px solid #b4b4b4;
   border-radius: 10px;
   box-shadow: 0 2px 5px #333;
   width: 300px;
   height: 80px;
}

.loading
{
   position: fixed;
   background: #fff url('images/preloader-01.gif') center center no-repeat;
   width: 32px;
   height: 32px;
   z-index: 10100;
   opacity: 0.5;
   padding: 10px;
   border: 1px solid #b4b4b4;
   border-radius: 10px;
   box-shadow: 0 2px 5px #333;
}

.arrow
{
   height: 100px;
   width: 82px;
   z-index: 10003;
   position: fixed;
   cursor: pointer;
   opacity: 0.5;
   filter: alpha(opacity=50);
}

.arrow.left
{
   left: 9px;
}
.arrow.right
{
   right: 9px;
}

.arrow:hover
{
   opacity: 1;
   filter: alpha(opacity=100);
}

.arrow.disabled 
{
   display: none;
}

.arrow-t, .arrow-b
{
   height: 6px;
   width: 30px;
   left: 26px;
   background-color: #fff;
   position: relative;
   border-radius: 3px;
}

.arrow-t
{
   top: 38px;
}

.arrow-b
{
   top: 50px;
}

.close
{
   width: 22px;
   height: 22px;
   position: fixed;
   top: 30px;
   right: 39px;
   cursor: pointer;
   opacity: 0.5;
   filter: alpha(opacity=50);
}

.close:hover 
{
   opacity: 1;
   filter: alpha(opacity=100);
}

.close .cw, .close .ccw
{
   position: absolute;
   top: 8px;
   left: -4px;
   width: 30px;
   height: 6px;
   background-color: #fff;
   border-radius: 3px;
}

.cw
{
   transform: rotate(45deg);
   -ms-transform: rotate(45deg);
   /* IE 9 */
    -webkit-transform: rotate(45deg);
   /* Safari and Chrome */
    -o-transform: rotate(45deg);
   /* Opera */
    -moz-transform: rotate(45deg);
/* Firefox */}

.ccw
{
   transform: rotate(-45deg);
   -ms-transform: rotate(-45deg);
   /* IE 9 */
    -webkit-transform: rotate(-45deg);
   /* Safari and Chrome */
    -o-transform: rotate(-45deg);
   /* Opera */
    -moz-transform: rotate(-45deg);
/* Firefox */}

.close-alt, .arrow-right-alt, .arrow-left-alt 
{
   display: none;
   color: #fff;
   font-size: 2.5em;
}

.ie8 .close-alt, .ie8 .arrow-right-alt, .ie8 .arrow-left-alt {
   display: block;
}
.ie8 .cw, .ie8 .ccw {
   display: none;
}

.art-content-layout .art-content
{
   margin:0 auto;
}

.art-content-layout .art-sidebar1
{
   -webkit-border-radius:0 3px 3px 0;
   -moz-border-radius:0 3px 3px 0;
   border-radius:0 3px 3px 0;
   border-left:1px dashed #D8D9D8;
   margin:0 auto;
   width: 200px;
}

#planstery-tooltip{
	pointer-events:none;
	position: absolute;
	width: 150px;
	display: none;
	padding: 10px;
	font-family: Cabin, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
	font-size: 13px;
	color: rgb(70, 70, 70);
	z-index: 20;
	text-align: center;
	
	background-color:rgb(249,249,249);
	/* Firefox v1.0+*/
	-moz-border-radius:4px;
	/* Safari v3.0+ and by Chrome v0.2+ */
	-webkit-border-radius:4px;
	/* Firefox v4.0+ , Safari v5.0+ , Chrome v4.0+ , Opera v10.5+ and by IE v9.0+ */
	border-radius:4px;
	/* Firefox v3.5+ */
	-moz-box-shadow:0px 1px 2px rgba(0,0,0,0.45) ,inset 0px -2px 0px rgb(204,204,204) ,inset 0px 0px 0px rgb(255,255,255);
	/* Safari v3.0+ and by Chrome v0.2+ */
	-webkit-box-shadow:0px 1px 2px rgba(0,0,0,0.45) ,inset 0px -2px 0px rgb(204,204,204) ,inset 0px 0px 0px rgb(255,255,255);
	/* Firefox v4.0+ , Safari v5.1+ , Chrome v10.0+ , IE v10+ and by Opera v10.5+ */
	box-shadow:0px 1px 2px rgba(0,0,0,0.45) ,inset 0px -2px 0px rgb(204,204,204) ,inset 0px 0px 0px rgb(255,255,255);
	-ms-filter:"progid:DXImageTransform.Microsoft.dropshadow(0ffX=0,0ffY=1,Color=#73000000,Positive=true)";
	filter:progid:DXImageTransform.Microsoft.dropshadow(0ffX=0,0ffY=1,Color=#73000000,Positive=true);
}
#planstery-tooltip-header{
	line-height: 25px;
	font-size: 26px;
	font-family: Lobster, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
	text-shadow: rgba(145, 138, 134, 1) 0px 1px 3px;
}

.plan-container{
	min-width: 200px;
	min-height: 130px;
	margin: auto;
	background: rgb(250, 249, 247);
	border: 5px solid white;
	border-radius: 2px;
	position: relative;
	box-shadow: 0 0 1px rgba(0, 0, 0, 0.8);
	-moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.8);
	-webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.8);
}
